* {  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.App {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  background: #FFF7ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 24px 36px 24px;
}

.main {
  min-width: 300px;
  max-width: 550px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #FFF7ED;
  min-height: 100vh; /* perfect solution for 100% height page */
}
nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;  
}
nav a:hover {
  text-decoration: underline;
}
.header-menu-active {
  text-decoration: underline;
  font-weight: 700;
}
.menu a {
  margin-left: 24px;
}
.logo {
  color: #000;
  font-size: 24px;
  font-weight: 900;
}
.home-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), lightgray 0px -65.191px / 100% 178.109% no-repeat;
  padding: 26px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-wrapper h2 {
  font-size: 36px;
  font-weight: 800;
}
.home-wrapper p {
  font-size: 16px;
  font-weight: 500;
}
.home-wrapper .link-btn {
  border-radius: 5px;
  background: #FF8C38; 
  height: 50px;
  border: none;
  width: 100%;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700; 
  margin-top: 40px;
  text-decoration: none;
}
.home-wrapper .link-btn:hover {
  text-decoration: underline;
  cursor: pointer;  
}
.about-wrapper {
  color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  padding: 26px;

}
.about-wrapper h2 {
  font-size: 32px;
  font-weight: 700;
  margin:0;
  padding-block: 12px;
}
.about-wrapper p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-block: 12px;
}
.about-destination {
  border-radius: 5px;
  background: #FFCC8D; 
  padding: 6px 37px 32px 37px;
  margin-top: 44px;
}
.about-destination h3 {
  font-size: 24px;
  font-weight: 700;  
}
.about-destination .link-btn {
  display: inline-flex;
  padding: 12px 22px 13px 22px;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  background: #161616;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.about-destination .link-btn:hover {
  text-decoration: underline;
}

footer h4 {
  color: #AAA;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 
  background: #252525;
  margin-top: auto; 
}

/* vans */
.vans-wrapper {
  padding-inline: 23px;
  padding-bottom: 42px;
}

.vans-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}
.van-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}
.van-info > h4 > span {
  font-size: 9px;
}
.van-tile a {
  color: #161616;
  text-decoration: none;    
}

.van-tile a:hover {
  text-decoration: underline;    
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.vans-wrapper button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

/* van detail */
.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
  
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-bottom: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #FF8C38;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
}
.van-detail  .link-button:hover {
  text-decoration: underline;
}
/******* Host ********/
.host-nav {
  display: flex;
  justify-content: flex-start;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 6px 28px 6px 0px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}
.host-vans-wrapper {
  margin-inline:27px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.host-van-item {  
  display: flex;
  border-radius: 6px;
  background: #FFF;
  margin-bottom: 16px !important;
  align-items: center;
}

.host-van-item div {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 4px;
}
.host-van-item img {
  
  margin: 17px;
  max-width: 66px; /* perfect solution to make dynamic image size depending n parent size */
  max-height: 66px;
  border-radius: 6px;    
}
.host-van-item h4, .host-van-item p {
  padding: 0;
  margin: 0;
}
.host-vans-wrapper * {
  text-decoration: none; 
  padding: 0;
  margin: 0;
}
.host-vans-wrapper h1 {
  margin-bottom: 32px;
}
.host-van-item h4 {
  color: #161616;
  font-size: 20px;
  font-weight: 600;  
}
.host-van-item p {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
}
.host-van-item h4:hover, .host-van-item p:hover {
  text-decoration: underline;
}
/****** Host van detail ******/
.host-van-detail img {
  max-width: 160px;
  max-height: 160px;
  border-radius: 6px;
}