* {  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background:rgb(250, 255, 229);
}
.App {
  text-align: center;
}

/* Style for Link component */
nav > a {
  text-decoration: none;
  margin: 4px;
}

nav > a:hover {
  text-decoration: underline;
}